* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.postTitle {
  font-size: 20px;
}

.postBox {
  text-align: left;
  width: 50%;
  background: gray;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

#userId {
  color: deepskyblue
}

textarea {
  width:50vw;
  height: 20vh;
  min-width: 100%;
  resize: none;
  padding: 10px;
}

#postBtn {
  width: 70px;
  height: 30px;
  margin: 10px 0;  
}

.commentBtn {
  width: 70px;
  height: 30px;
  margin: 10px 0;  
}

.deleteBtn {
  font-size: 8px;
  width: 15px;
  height: 15px;
  margin: 0;
  background: white;

}

#addPostForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.commentInputBox {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.commentInput {
  width: 70%;
  min-width: 40%;
  height: 10vh;
}

.comment {
  display: flex;
  align-items: center;
  background: lightslategrey;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  margin-bottom: 8px;
  text-align: right;
}

.comment .commentAvatar, .postAvatar {
  margin-right: 15px;
}

.commentBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


.postBox {
  display: flex;
  justify-content: space-between;
}

.postAvatar {
  width: 75px;
  height: 75px;
  border-radius: 100%;
}

.commentAvatar {
  width: 45px;
  height: 45px;
  border-radius: 100%;
}

.toggleBtn {
  border: none;
  background: none;
  color: white;
}

